h1{
    font-family: cursive;
    font-size: 40;
    background-color: #dfb5f7; height: 200px; 
    text-align: center;
    
}
div{
    display: flex;
    justify-content: center;
}
ul{font-family: cursive;
    font-size: 40;
    
}
td{
    border-color: violet;
}